body{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
div{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.button{
    width: 150px;
    height: 150px;
}
h2{
    font-size: 24px;
}
#grey{
    background-color: grey;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
#red{
    background-color: red;
}